/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px) {
#mainchart {
    border-right: none;
}
.floatL{
	width:100%
}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
	
}













/*navigation*/
@media only screen and (min-width: 600px) {
  .cd-accordion-menu label, .cd-accordion-menu a {
    padding: 0;
    font-size: 1.9rem;
  }
  .cd-accordion-menu label::before {
    right:15px;
  }
  .cd-accordion-menu label::after {
    left: 53px;
  }
  .cd-accordion-menu ul label,
  .cd-accordion-menu ul a {
    padding-left: 0;
  }
  .cd-accordion-menu ul label::before {
    left: 48px;
  }
  .cd-accordion-menu ul label::after,
  .cd-accordion-menu ul a::after {
    left: 77px;
  }
  .cd-accordion-menu ul ul label,
  .cd-accordion-menu ul ul a {
    padding-left: 130px;
  }
  .cd-accordion-menu ul ul label::before {
    left: 72px;
  }
  .cd-accordion-menu ul ul label::after,
  .cd-accordion-menu ul ul a::after {
    left: 101px;
  }
  .cd-accordion-menu ul ul ul label,
  .cd-accordion-menu ul ul ul a {
    padding-left: 154px;
  }
  .cd-accordion-menu ul ul ul label::before {
    left: 96px;
  }
  .cd-accordion-menu ul ul ul label::after,
  .cd-accordion-menu ul ul ul a::after {
    left: 125px;
  }
}
/*rest*/
@media (min-width: 300px){
.container{
	width:100%;
}
}
@media (min-width: 768px){
.container {
    width: 750px;
}
}
@media (min-width: 992px){
.container {
    width: 970px;
}
}
@media (min-width: 1200px){
.container {
  width:1190px;
}
}
@media (min-width: 1400px){
.container {
  width:1390px;
}
}
